/* base elements */
body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Roboto, sans-serif;
    text-align: center;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bolder;
    border-style: none;
    background-color: #3882f6;
    color: white;
    
}

/* containers */

.header {
    background-color: #1F2937;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex: 1;
}

.headerlinks {
    display: flex;
    gap: 20px;
}

.headertext {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 90px;
    text-align: left;
}

.herotext {
    padding: 30px;
}
.bigtext {
    display: flex;
    max-width: 350px;
    flex-basis: 350px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.smalltext {
    padding: 10px 0;
    display: flex;
    color: #e5e7eb;opacity:0.9;
    font-size: 18px;
}

.heroimg {
    height: 300px;
    width: 600px;
}

.information {
    padding: 10px 0 150px 0;


}
.infohead {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px
}
.infobox {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }


.info {
    flex-basis: 150px;
}

.infoimg {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    padding: 50px;
    
   
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;opacity: 0.9;
    max-width: 800px;
}

.quotename {

    padding: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.signupheader {
    padding: 100px 200px;
}

.signupbox {
    display: flex;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 10px;
    justify-content: space-around;
}

.signtext {
    color: #e5e7eb;
    text-align: left;
}

.signtextbig {
    font-size: 30px;
}

.signtextsmall {
    opacity: 0.9;
}

.signupbuttonhead {
    padding: 0px 60px;
    border: 2px solid #e5e7eb;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #f9faf8;
    font-size: 14px;
}

